.loader {
    --lite:  transparent;
    --brand: black;
    --size: 16px;

    box-sizing: border-box;
    width : var(--size);
    height: var(--size);
    border: 2px solid var(--brand);
    border-bottom-color: var(--lite);
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}